@page
@model Projekt.Pages.Users.AboutMeModel
@{
    string? name = HttpContext.Session.GetString("Name");
    string? surname = HttpContext.Session.GetString("Surname");
    string? email = HttpContext.Session.GetString("Email");
    string? observed = HttpContext.Session.GetString("ObservedCategory");
    string? phone = HttpContext.Session.GetString("PhoneNumber");
}

<h2 class="my-3 text-center text-white banner">My Profile</h2>

@if(Model.errorMessage.Length > 0 )
{
    <div class='alert alert-warning alert-dismissible fade show text-center' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}
else if (Model.successMessage.Length > 0)
{
    <div class='alert alert-success alert-dismissible fade show text-center' role='alert'>
        <strong>@Model.successMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<div class="row mb-2">
    <label class="col-sm-3 col-form-label banner text-white text-center">Name</label>
    <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext text-center banner2" value="@name">
    </div>
</div>

<div class="row mb-2">
    <label class="col-sm-3 col-form-label banner text-white text-center">Surname</label>
    <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext text-center banner2" value="@surname">
    </div>
</div>

<div class="row mb-2">
    <label class="col-sm-3 col-form-label banner text-white text-center">E-mail</label>
    <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext text-center banner2" value="@email">
    </div>
</div>

<div class="row mb-2">
    <label class="col-sm-3 col-form-label banner text-white text-center">Observed Category</label>
    <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext text-center banner2" value="@observed">
    </div>
</div>

<div class="row mb-2">
    <label class="col-sm-3 col-form-label banner text-white text-center">Phone Number</label>
    <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext text-center banner2" value="@phone">
    </div>
</div>


<div class="row mb-2">
    <div class="offset-sm-3 col-sm-6">
        <button type="button" class="btn btn-primary banner" data-bs-toggle="modal" data-bs-target="#EditModal">Edit</button>
        <a class="btn btn-primary banner" href="/CRUD" role="button">Go back</a>
    </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="model-header">
                <h5 class="modal-title text-center banner" id="exampleModal">Edit Profile</h5>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label banner text-center text-white">Name</label>
                        <div class="col-sm-8">
                            <input class="form-control text-center banner2" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label banner text-center text-white">Surname</label>
                        <div class="col-sm-8">
                            <input class="form-control text-center banner2" asp-for="Surname">
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label banner text-center text-white">E-mail</label>
                        <div class="col-sm-8">
                            <input class="form-control text-center banner2" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label banner text-center text-white">Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control text-center banner2" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label banner text-center text-white">Observed Category</label>
                        <div class="col-sm-8">
                            <select class="form-select text-center banner2" asp-for="ObservedCategory">
                                <option value="Any">
                                    Any
                                </option>
                                <option value="Books">
                                    Books
                                </option>
                                <option value="Bikes">
                                    Bikes
                                </option>
                                <option value="Cars">
                                    Cars
                                </option>
                                <option value="Phones">
                                    Phones
                                </option>
                            </select>
                            <span asp-validation-for="ObservedCategory" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-sm-4">
                            <button type="submit" class="btn btn-primary text-white banner" name="action" value="profile">Submit</button>
                        </div>
                    </div>

                    <hr />

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label banner text-center text-white">Password</label>
                        <div class="col-sm-8">
                            <input class="form-control text-center banner2" type="password" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label banner text-center text-white">Confirm Password</label>
                        <div class="col-sm-8">
                            <input class="form-control text-center banner2" type="password" asp-for="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-sm-4">
                            <button type="submit" class="btn btn-primary text-white banner" name="action" value="password">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
            
        </div>
    </div>
</div>